UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
FRONTEND_URL=https://taghvim.vercel.app
ALLOWED_ORIGINS=https://taghvim.vercel.app,http://localhost:1420,http://localhost:5173,http://127.0.0.1:1420,http://127.0.0.1:5173
